.container{
    max-width: 90%;
    margin: 10px auto;
    padding: 20px;
}

.blue {
    background-color: rgb(108, 193, 221);
}

.green{
    background-color: lightgreen;
}

.purple{
    background-color: rgb(227, 134, 227);
}

.yellow{
    background-color: lightyellow;
}

h1, h2 {
    text-align: center;
}
