header {
    margin-top: 40;
    margin-left:80px;
}

.container {
    max-width: 90%;
    margin: 10px auto;
    padding: 20px;
}

.blue {
    background-color: rgb(108, 192, 221);
}

.green {
    background-color: rgb(lightgreen);
}

.centercard {
    margin: auto;
    width: 70%;
    border: 3px solid darkgreen;
    padding: 10px;
}

.card-text {
    padding-left: 5px;
    padding-right: 5px;
}

.container green {
    max-width: 90%;
    margin: 10px auto;
    padding: 20px;

    background-color: green;
}

.body {
    background-color: green;
}