header {
    margin-top: 40;
    margin-left:80px;
}

.container {
    max-width: 90%;
    margin: 10px auto;
    padding: 20px;
}

.blue {
    background-color: rgb(108, 192, 221);
}

.green {
    background-color: rgb(lightgreen);
}